!!! 5
%html
  %head
    %title Logo
    %link{:href => to("/stylesheets/app.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js", :type => "text/javascript"}
    :javascript
      jQuery(document).ready(function() {
        
        var context = function() {
          return document.getElementById("turtle").getContext("2d");
        };
        
        var drawTurtle = function(context) {
           console.log("Drawing the turtle");
           context.beginPath();  
           context.lineWidth = 1;
           
           context.moveTo(300,300);  
            
           var turtleHeight = 50;
          
           context.lineTo((300 - (turtleHeight/2)), (300 + (turtleHeight/2)));
           context.lineTo((300 + (turtleHeight/2)),(300 + (turtleHeight/2)));  
           context.lineTo(300,300);  
           context.fillStyle = "orange"; 
           context.fill();
           context.strokeStyle ="black";
           context.stroke();
        };
        
        var moveUp = function(context) {
           context.moveTo(300, 300);
           context.lineTo(300, 100);
           context.lineWidth = 3;
           //context.strokeStyle = "#ff0000"; // line color
           context.stroke();
        }; 
         
         
        jQuery(".console").keypress(function(event) {
          if ( event.which == 13 ) {
            var command = jQuery(this).val();
            console.log("The command is: " + command);
            jQuery(this).val("");
            moveUp(context());
          }
        });
        
         
        drawTurtle(context());
         
      });
      
  %body
    %canvas{:id => "turtle", :width => 1000, :height => 750}
    %section.instructions
      %h1 Commands
      %ul.commands
        %li FORWARD
        %li BACK
        %li RIGHT
        %li LEFT
        %li PU - pen up
        %li PD - pen down
    %section.cli
      %label{:for => "console"} Please type your command below and press [Enter]:
      %div 
        %span.prompt >
        %input.console{:id => "console", :type => "text"}
