!!! 5
%html
  %head
    %title Logo
    %link{:href => to("/stylesheets/app.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js", :type => "text/javascript"}
    :javascript
      jQuery(document).ready(function() {
         var canvas = document.getElementById("turtle");
         var context = canvas.getContext("2d");
       
         // Move up 
         context.moveTo(300, 400);
         context.lineTo(300, 100);
         context.lineWidth = 5;
         //context.strokeStyle = "#ff0000"; // line color
         context.stroke();
       
         // Move across
         context.lineTo(500, 100);
         context.lineWidth = 5;
         //context.strokeStyle = "#ff0000"; // line color
         context.stroke();
       
         // move down
         context.lineTo(500, 400);
         context.lineWidth = 5;
         context.stroke();
        
         // move across left
         context.lineTo(300, 400);
         context.lineWidth = 5;
         context.stroke();
         
      });
      
  %body
    %canvas{:id => "turtle", :width => 600, :height => 800}
    %section.instructions
      %h1 Commands
      %ul.commands
        %li FORWARD
        %li RIGHT
        %li LEFT
      
      %input{:type => "text"}
