!!! 5
%html
  %head
    %title Logo
    %link{:href => to("/stylesheets/app.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js", :type => "text/javascript"}
    :javascript
      jQuery(document).ready(function() {
         
        jQuery(".console").keypress(function(event) {
          if ( event.which == 13 ) {
            console.log("You pressed ENTER")
            console.log("The command is: " + jQuery(this).val());
          }
        });
           
         var canvas = document.getElementById("turtle");
         var context = canvas.getContext("2d");
       
         // Move up 
         context.moveTo(300, 400);
         context.lineTo(300, 100);
         context.lineWidth = 5;
         //context.strokeStyle = "#ff0000"; // line color
         context.stroke();
       
         // Move across
         context.lineTo(500, 100);
         context.lineWidth = 5;
         //context.strokeStyle = "#ff0000"; // line color
         context.stroke();
       
         // move down
         context.lineTo(500, 400);
         context.lineWidth = 5;
         context.stroke();
        
         // move across left
         context.lineTo(300, 400);
         context.lineWidth = 5;
         context.stroke();
         
      });
      
  %body
    %canvas{:id => "turtle", :width => 1000, :height => 750}
    %section.instructions
      %h1 Commands
      %ul.commands
        %li FORWARD
        %li BACK
        %li RIGHT
        %li LEFT
        %li PU - pen up
        %li PD - pen down
    %section.cli
      %label{:for => "console"} Please type your command below and press [Enter]:
      %div 
        %span.prompt >
        %input.console{:id => "console", :type => "text"}
