#turtle {
  float: left;
  
  border: 2px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cli {
  clear: both;
}

input.console {
  width: 90%;
  margin: 8px;
  font-size: 1.5em;
}

.prompt {
  margin-top: 10px;
  font-size: 1.5em;
  float: left;
}